*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
  
}
.main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,rgb(175, 212, 224),rgb(240, 189, 197));
    position: relative;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px ;
}

.navlogo img{
    height:  50px;
    /* padding-right: 150px; */
}


.navcenter{
    font-size: 20px;
    display: flex;
    gap:60px;
    padding-right: 35px;
}
.navcenter a{
    text-decoration: none;
    color: black;
}

.navright img{
    height: 30px;
}

.navright button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 60px;
    border-radius: 15px;
    gap:8px;
    background: transparent;
    border : 1px solid black;
}

.firstquote{
    position: absolute;
    left: 30%;
    top:30%;
    z-index: 2;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.firstquote img{
    height:50px;    
}


.imgbody img{
    height: 600px;
}
.imgbody{
    position: absolute;
    left :27%;
    bottom: 1%;
}

.sec-quote{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left:65%;
    bottom: 33%;
    
}

.sec-quote img{
    height:50px;    
}


.leftcontainer{
    position: absolute;
    top:40%;
    right:99%;
}
.leftcontainer img{
    height: 100px;
    display: block;
    width: auto;
}
.leftcontainer h1{
    display: inline;  
    font-size: 60px;
    color :white;
    line-height: 1;
margin-right: 15px; 

}
/* 


headings h1.on-top {
    position: relative;
    z-index: 3;
} */